body {
    color: #999;
}

.field {
    width: 600px;
    height: 600px;
    cursor: url("../../vendor/images/hummer.png"), pointer;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cell {
    width: 24%;
    height: 24%;
    border: 1px solid black;

}

.cell-active {
    background-image: url("../../vendor/images/goblin.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.score {
    font-size: 30px;
    color: #000;
    padding-left: 200px;

}

.info {
    display: flex;
}